* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik",sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto;
}
h3 {
    font-size: 35px;
    font-weight: 300;
}
a {
    text-decoration: none;
    margin-top: 15px;
    display: block;
}
.add_post {
    width: 100%;
    height: 50px;
    margin-left: 125px;
}
form {
    width: 50%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
form input {
    height: 60px;
    margin: 15px 0;
}
textarea {
    margin: 15px 0;
}
input[type="submit"]{
    background: #007bff;;
    font-family: "Rubik",sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #007bff; 
    background: #dff0d8; 
    border: 1px solid #007bff;;
    width: 50%;
    text-align: center;
}
.login-box {
    max-width: 1700px;
    float: none;
    margin: 150px auto;
}
.login-left {
    background: rgba(211, 211, 211, 0.2);
    padding: 30px;
}
.login-right {
    background: rgba(211, 211, 211, 0.38);
    padding: 30px;
}
.form-control {
    background: transparent !important;
}